/* stylelint-disable font-family-name-quotes */
.form {
    position: absolute;
    inset: 0;
    transition: 0.5s all;
    opacity: 0;
    z-index: 99999;
    background: rgba(15 29 69 / 60%);
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(15px);
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__wrapper {
        position: relative;
        background-color: rgb(15 29 69);
        width: 600px;
        height: 100%;
    }

    &__content {
        padding: 0 32px 0 72px;
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 40px;

        img {
            user-select: none;
            cursor: pointer;
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        font-family: 'Raleway', sans-serif;

        &-title {
            width: 240px;
            line-height: 158%;
            font-size: 50px;
        }

        &-description {
            width: 450px;
            line-height: 145%;
            font-size: 40px;
            font-weight: 600;
        }

        &-author {
            position: absolute;
            right: 73px;
            bottom: 80px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 10px 0;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &__title {
        padding-top: 110px;
        width: 490px;
        line-height: 149%;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        font-weight: 600;
    }

    &__field {
        display: block;
        margin-top: 65px;
        outline: none;
        border: 0;
        border-bottom: 1px solid rgba(255 255 255 / 80%);
        background-color: transparent;
        padding: 12px 0;
        width: 100%;
        color: rgba(255 255 255 / 80%);
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

        &-message {
            padding-top: 35px;
            text-align: center;
            color: #fe4949;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
        }
    }

    &__checkbox {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        padding-top: 110px;
        padding-bottom: 90px;

        p {
            width: 342px;
            user-select: none;
            line-height: 129%;
            letter-spacing: 3.5%;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
        }

        input {
            appearance: none;

            &:checked + span::before {
                transform: scale(1);
            }
        }

        span {
            display: block;
            border: 1px solid #fff;
            width: 30px;
            height: 30px;

            /* stylelint-disable-next-line no-descending-specificity */
            &::before {
                display: block;
                transform: scale(0);
                background-image: url('../../img/checkbox-arrow.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
                content: '';
            }
        }
    }
}
